.background {
  background-image: url('../../Images/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background h1 {
  font-family: 'poppins-bold', sans-serif;
  font-size: 70px;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.loginContainer {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  height: 80%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
}

.loginContainer h2 {
  margin: 1px;
  font-family: 'poppins-bold', sans-serif;
  font-size: 36px;
  color: black;
  text-align: center;
}

.loginContainer input[type="text"],
.loginContainer input[type="password"] {
  width: 100%;
  height: 10%;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  outline: none;
}

.textBlue {
  font-size: 12px;
  color: #00B3F3;
  text-decoration: none;
}

.textConta {
  font-family: 'poppins-bold', sans-serif;
  font-size: 16px;
  color: #878787;
  text-align: center;
  margin-top: 50px;
}

.iniContainer {
  color: #878787;
  font-size: 12px;
}

.check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.check input {
  cursor: pointer;
}

.check label {
  font-size: 12px;
  color: #00B3F3;
  cursor: pointer;
}

.loginContainer button {
  margin: 50px auto;
  display: block;
  width: 100%;
  text-align: center;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.redes svg {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .loginContainer {
    max-width: 80%;
    min-height: 350px;
    width: 80%;
    height: 70%;
    padding: 30px;
  }

  .loginContainer h2 {
    font-size: 28px;
  }

  .loginContainer input[type="text"],
  .loginContainer input[type="password"] {
    font-size: 14px;
    padding: 8px;
    height: 40px;
  }

  .loginContainer button {
    font-size: 16px;
    padding: 12px;
    height: 50px;
  }

  .textBlue,
  .check label {
    font-size: 10px;
  }

  .closeIcon {
    display: none;
  }

  .redes svg {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 480px) {
  .loginContainer {
    max-width: 90%;
    min-height: 300px;
    padding: 20px;
    width: 80%;
    height: 80%;
  }

  .loginContainer h2 {
    font-size: 24px;
  }

  .loginContainer input[type="text"],
  .loginContainer input[type="password"] {
    font-size: 12px;
    padding: 6px;
    height: 35px;
  }

  .loginContainer button {
    font-size: 14px;
    padding: 10px;
    height: 45px;
  }

  .textBlue,
  .check label {
    font-size: 9px;
  }

  .closeIcon {
    display: none;
  }

  .redes svg {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 360px) {
  .loginContainer {
    max-width: 95%;
    min-height: 280px;
    padding: 15px;
    width: 80%;
    height: 70%; 
 }

  .loginContainer h2 {
    font-size: 20px;
  }

  .loginContainer input[type="text"],
  .loginContainer input[type="password"] {
    font-size: 10px;
    padding: 5px;
    height: 30px;
  }

  .loginContainer button {
    font-size: 12px;
    padding: 8px;
    height: 30px;
  }

  .textBlue,
  .check label {
    font-size: 8px;
  }

  .closeIcon {
    display: none;
  }

  .redes svg {
    width: 20px;
    height: 20px;
  }
}
