@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f4f8;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu h1{
  color: #000000;
  font-size: 40px;
  font-family: 'Jost', sans-serif;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.info-image {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

.info-section {
  margin-top: 150px;
  margin-bottom: 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.info-section h2{
  font-size: 1.5rem;
  font-family: 'Jost', sans-serif;
  color: #007AC2;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.info-section h3{
  font-size: 1.2rem;
  font-family: 'Jost', sans-serif;
  color: #007AC2;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.info-section p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.info-section li {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.home-container h1 {
  font-size: 2rem;
  color: #007AC2;
  margin-bottom: 10px;
}

.tiposUsuarios {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
}

.contact-section {
  background-color: #00B3F3;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: auto; 
}

.contact-section h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.contact-section p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}
