.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px;
  width: 30%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /* Adiciona a transição suave */
  cursor: pointer; /* Muda o cursor para indicar um clique */
}

.userContainer:hover {
  transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
}

.userContainer:active {
  transform: scale(0.95); /* Opcional: efeito de clique */
}

.userImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

.userName {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.userDetails {
  font-size: 1rem;
  color: #666;
  text-align: justify;
}
